<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adot.ME - Navegacão</title>
    <link rel="icon" href="/public/images/logo.svg" alt="Logo Adot.ME" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/hambuguer-menu.css" />
</head>
<body>
    <div class="list-pages">
        <ul>
            <li><a href="/public/views/page-landing.html">Home</a></li>
            <li>
              <a href="/public/views/adoption.html">Locais de adoção</a>
            </li>
            <li><a href="#">Cadastrar local</a></li>
            <li><a href="#">Fotos</a></li>
            <li><a href="/public/views/login.html">Sair</a></li>
          </ul>
    </div>
</body>
</html>