<!DOCTYPE html>
<html lang="pt_BR">

  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Adot.ME - Login</title>

    <link rel="icon" href="/public/images/logo.svg" alt="Logo Adot.ME"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/reset.css"/>
    <link rel="stylesheet" href="/public/css/login.css"/>
    <link rel="stylesheet" href="/public/css/loading.css">

  </head>

  <body>

    <div class="container">

      <div class="img">
        <img class = "image" src="/public/images/background-login.svg" alt="Pessoa caminhando com cachorro"/>
      </div>

      <div class="login-container">

        <form action="login.html">
          <img
            class="avatar"
            src="/public/images/logo.svg"
            alt="Logo do Adot.ME"/>

          <h2>Seja bem-vindo</h2>

          <div class="input-div one">

            <div class="i">
              <i class="fas fa-user"></i>
            </div>

            <div>
              <h5>Usuário</h5>
              <input 
                type="text" 
                class="input"
                id="usuario"/>
            </div>

          </div>

          <div class="input-div two">

            <div class="i">
              <i class="fas fa-user"></i>
            </div>

            <div>
              <h5>Senha</h5>
              <input 
                type="password" 
                class="input"
                id="senha"/>
              <img onclick="ocultarSenha()" class="hide-password" src="/public/images/view.svg" alt="Ocultar senha">

            </div>

          </div>

          <a href="#">Esqueceu a senha?</a>
          <a href="/public/views/page-landing.html" class="btn" onclick="return verificarSeEhVazio()">Login</a>

          <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <div class="details-error">
                      <img src="/public/images/logo.svg" alt="Logo do Adot.ME">
                      <h1>Preencha todos os campos!</h1>
                      <p>Você tentou logar sem preencher algum campo, por favor, tente novamente.</p>
                      <button class="try-again-button" onclick="fecharModal()">Tentar novamente</button>
                    </div>
                </div>
            </div>
          </div>

        </form>

      </div>

    </div>

    <script src="/public/js/login.js"></script>
    
    <script src="/public/js/loading.js"></script>

  </body>
  
</html>