<!DOCTYPE html>
<html lang="pt_BR">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adot.ME - Fotos</title>

    <link rel="icon" href="/public/images/logo.svg" alt="Logo Adot.ME"/>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/photos.css">
    <link rel="stylesheet" href="/public/css/loading.css">

  </head>

  <body>

    <div data-slide="slide" class="slide">

      <div class="slide-items">

        <img src="/public/images/imagem-1.jpg" alt="Img 1">
        <img src="/public/images/imagem-2.jpg" alt="Img 2">
        <img src="/public/images/imagem-3.jpg" alt="Img 3">
        <img src="/public/images/imagem-4.jpg" alt="Img 4">
        <img src="/public/images/imagem-5.jpg" alt="Img 5">

      </div>

      <nav class="slide-nav">

        <div class="slide-thumb"></div>
        <button class="slide-prev">Anterior</button>
        <button class="slide-next">Próximo</button>

      </nav>

      <a 
        href="/public/views/hamburguer-menu.html" 
        class="hamburguer-button">
        <img src="/public/images/hamburger-menu.png" alt="Abrir navegação entre páginas">
      </a>

    </div>

    <script src="/public/js/photos.js"></script>

    <script src="/public/js/loading.js"></script>

  </body>

</html>