:root {
  --primary-color: #F1CE8A;
  --font-color: #211F23;
  --brown: #584B43;
  --orange: #BF8F5E;
  font-size: 62.5%; 
}

@keyframes up{
  from{
    opacity: 0;
    transform: translateX(54px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }
  to{ 
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-up{
  animation-name: up;
  animation-duration: 500ms;
  animation-delay: 50ms;
  animation-fill-mode: backwards;
}

.animate-rigth{
  animation-name: right;
  animation-delay: 50ms;
  animation-duration: 700ms;
}

#titulo::after {
  color: var(--font-color);
  opacity: 1;
}

#titulo::before {
  color: var(--font-color);
  opacity: 1;
}