@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap";

:root {
  --primary-color: #F1CE8A;
  --font-color: #211F23;
  --brown: #584B43;
  --orange: #BF8F5E;
  font-size: 62.5%; /* estabelecendo o tamanho da fonte de todo o html, como 62.5%, equivalente a 10px, para ficar mais facil de calcular os demais tamanhos de fontes com "rem" nos elementos abaixo*/
}

*{
  box-sizing: border-box;
}

body, input, textarea, button{
  height: 100vh;
  font: 400 2.2rem/1.05 'Nunito', sans-serif;
  color: var(--font-color);
  background: var(--primary-color);
}