@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap";

:root {
  --primary-color: #f1ce8a;
  --font-color: #211f23;
  --brown: #584b43;
  --orange: #bf8f5e;
  font-size: 62.5%;
}

body {
  font: 600 2.2rem/1.2 "Nunito", sans-serif;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 700px;
  margin-left: 5vw;
  cursor: pointer;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 7vw;
}

form {
  width: 360px;
}

form h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0;
  color: var(--font-color);
}

.avatar {
  width: 180px;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 2% 98%;
  margin: 25px 0;
  padding: 10px 0;
  border-bottom: 1.8px solid white;
}

.input-div:after,
.input-div:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--font-color);
  transition: 350ms;
}

.input-div:after {
  right: 50%;
}

.input-div:before {
  left: 50%;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 1.6rem;
}

.input-div.focus:after,
.input-div.focus:before {
  width: 50%;
}

.input-div.one {
  margin-top: 0;
}

.input-div.two {
  margin-bottom: 4px;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  font-weight: 600;
  color: white;
  transform: 350ms;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: var(--font-color);
}

.hide-password{
  width: 75%;
  height: 75%;
  position: absolute;
  top: 2vh;
  left: 12vw;
  cursor: pointer;
}

.hide-password:active{
  transform: scale(1.10);
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.8rem;
  font-weight: 600;
  transition: 350ms;
  margin-top: 1.5vh;
}

a:hover {
  color: white;
  transition: 200ms;
}

.btn {
  padding: 15px;
  border-radius: 30px;
  background: var(--font-color);
  color: white;
  font: 600 1.8rem/1 "Nunito", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.btn:hover {
  background-color: white;
  transition: 250ms;
  color: var(--font-color);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: var(--primary-color);
  width: 70%;
  height: 80%;
  margin: 5vh auto;
  position: relative;
  border-radius: 15px;
}

/* === MODAL ATIVO=== */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.details-error{
  width: 50vw;
  height: 60vh;
  margin: 10vh auto;
  text-align: center;
}

.details-error img{
  margin-top: 8vh;
  width: 35%;
}

.details-error h1{
  font: 800 5rem/1.15 "Nunito", sans-serif;
  color: var(--font-color);
  margin-top: 10px;
}

.details-error p {
  font: 600 2.8rem/1.3 "Nunito", sans-serif;
  margin-top: 10px;
  color: var(--brown);
}

.try-again-button{
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  background: white;
  color: var(--brown);
  font: 600 2.5rem/1 "Nunito", sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.try-again-button:hover{
  background-color: var(--brown);
  transition: 250ms;
  color: white;
  transform: translateY(5px) scale(1.05);
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
  .img img {
    margin-left: 5vw;
  }
  .login-container {
    margin-left: initial;
  }

  .hide-password{
    left: 18vw;
  }

}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .hide-password{
    top: 10px;
    left: 180px;
  }
}

@media screen and (max-width: 500px) {
  .hide-password{
    top: 10px;
    left: 150px;
  }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .img img {
    width: 500px;
  }

  .login-container {
    margin-left: initial;
  }

  form {
    width: 350px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    grid-gap: 5rem;
  }

  .login-container {
    margin-left: initial;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 450px;
  }

  .login-container {
    margin-left: initial;
  }

  .avatar {
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }

  .avatar {
    width: 200px;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .login-container {
    justify-content: center;
    margin-left: initial;
  }
}