@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap";

:root {
  --primary-color: #F1CE8A;
  --font-color: #211F23;
  --brown: #584B43;
  --orange: #BF8F5E;
  font-size: 62.5%; 
}

.page-landing{
  margin: 8vh auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
}

#logo{
  height: 45vh;
  width: 45vh;
  animation-delay: 80ms;
}

.container{
  margin: auto;
  width: min(95%, 118rem);
}

#titulo{
  animation-delay: 80ms;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 2rem;
}

.location{
  animation-delay: 160ms;
}

.location h1{
  font-size: 9.0rem;
  font-weight: 900;
}

main h1{
  animation-delay: 240ms;
  font-weight: 600;
}

.location, h1, .visit p{
  height: 16vh;
  font-size: 2.5rem;
}

.visit p{
  animation-delay: 320ms;
  font-weight: 400;
  font-size: 2.2rem;
}

.visit a{
  height: 7.5rem;
  width: 7.5rem;
  background: white;
  border: none;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.4);
  animation-delay: 400ms;
}

.visit a:hover{
  background: var(--primary-color);
  transition: 60ms;
  box-shadow: none;
}

.visit a img{
  height: 6.5rem;
  width: 6.5rem;
}

/* LAYOUT PARA DESKTOP */

@media (min-width: 800px) {

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location, h1, .visit p{
    height: initial;
  }

  .location p{
    font-size: 2.6rem;
    line-height: 1.4;
  }

  #logo{
    height: 40vh;
    width: 40vh;
  }

  #titulo{
    margin: 15vh 3vh 0;
    font-size: 10vh;
  }

  main h1, .visit, .visit a{
    margin: 8vh auto;
  }

  main h1{
    font-size: clamp(3rem, 6vw, 7rem); /* cmalp() o primeiro parâmetro é o mínimo, o segundo é o ideal e o terceiro é o valor máximo */
  }

  .visit p{
    font-size: 3rem;
  }
}