@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap";

:root {
  --primary-color: #f1ce8a;
  --font-color: #211f23;
  --brown: #584b43;
  --orange: #bf8f5e;
  font-size: 62.5%;
}

.page-landing {
  margin: 4vh auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
}

#logo {
  height: 30vh;
  width: 30vw;
  animation-delay: 80ms;
}

.container {
  margin: auto;
  width: min(95%, 118rem);
}

#titulo {
  animation-delay: 160ms;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 2rem;
}

.location {
  animation-delay: 240ms;
}

.location h1 {
  font-size: 9rem;
  font-weight: 900;
}

main h1 {
  animation-delay: 320ms;
  font-weight: 600;
}

.location,
h1,
.visit p {
  height: 16vh;
  font-size: 2.5rem;
}

.visit p {
  animation-delay: 400ms;
  font: 400 2.5rem/1.2 "Nunito", sans-serif;
}

.visit p strong {
  font: 800 3.2rem "Nunito", sans-serif;
  color: var(--brown);
}

.curitiba-location {
  width: 4.5vh;
}

#arrow-btn {
  height: 5.5rem;
  width: 5.5rem;
  display: flex;
  background: white;
  border: none;
  border-radius: 2.2rem;
  align-items: center;
  justify-content: center;
  margin: 3vh auto 0 auto;
  box-shadow: 6px 3px 20px 3px rgba(0, 0, 0, 0.4);
  animation-delay: 480ms;
}

#arrow-btn:hover {
  background: var(--primary-color);
  transition: 150ms;
  box-shadow: none;
  transform: rotate(-6deg) scale(1.25);
}

.visit a img {
  height: 4.5rem;
  width: 4.5rem;
}

/* MENU HAMBURGUER */

a.hamburguer-button img{
  position: absolute;
  right: 3rem;
  top: 3rem;
  height: 8vh;
  padding: 10px;
  background: white;
  border: 0;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 3px 20px 3px rgba(0, 0, 0, 0.4);
}

a.hamburguer-button img:hover{
  transform: translateY(-5px);
  transition: 300ms;
}

a {
  color: var(--font-color);
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  font: 800 5vh "Nunito", sans-serif;
}

a:hover {
  color: white;
  transition: 300ms;
}

/* LAYOUT PARA DESKTOP */

@media (min-width: 720px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  h1,
  .visit p {
    height: initial;
  }

  .location p {
    font-size: 2.6rem;
    line-height: 1.4;
  }

  #logo {
    height: 35vh;
    width: 35vw;
  }

  #titulo {
    margin: 15vh 3vh 0;
    font-size: 10vh;
  }

  main h1,
  .visit,
  .visit a {
    margin: 8vh auto;
  }

  main h1 {
    font-size: clamp(
      3rem,
      6vw,
      7rem
    ); /* cmalp() o primeiro parâmetro é o mínimo, o segundo é o ideal e o terceiro é o valor máximo */
  }

  .visit p {
    font-size: 3rem;
  }

  #arrow-btn {
    margin-top: 6vh;
    height: 7.5rem;
    width: 7.5rem;
  }

  .visit a img {
    height: 6.8rem;
    width: 6.8rem;
  }

  .menu {
    top: initial;
  }

  .curitiba-location {
    width: 5vh;
  }

  a.hamburguer-button img{
    width: 5.5rem;
    height: 5.5rem;
    top: initial;
    bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  #logo{
    width: 45vw;
    height: 45vh;
  }
}